

<% if user_signed_in? %>

       <% @share.each do |share| %>
       
       <%if share.user_shared_by == current_user.id %>
       <div class="row">
    	<div class="col-md-6 col-md-offset-3">
            <div class="reviews">
                           <h1> <%= @note.title %></h1>
                           <p> <%= @note.description %></p>
                       <div class="links-btn-group">                
                        <%= link_to "Edit", edit_noteskeep_path(@note),class: "btn-custom"%>
                       <%= link_to "Delete",noteskeep_path(@note),method: :delete, data: { confirm: "Are you sure?"},class: "btn-custom"%>
                    </div>
    	    </div>
        </div>
    </div>   

      
       
       <%elsif share.user_shared_to == current_user.id and share.share_type == "read"  %>
               <div class="row">
            	<div class="col-md-6 col-md-offset-3">
                    <div class="reviews">
                      <h1> <%= @note.title %></h1>
                    <p><%= @note.description %></p>
            </div>
        </div>
    </div>  
       
       <%elsif share.user_shared_to == current_user.id and share.share_type == "update"  %>
       
        <h1> <%= @note.title %></h1>
       <%= @note.description %>
       <%= link_to "Edit", edit_noteskeep_path(@note)%>
              <div class="row">
    	<div class="col-md-6 col-md-offset-3">
            <div class="reviews">
                           <h1> <%= @note.title %></h1>
                           <p> <%= @note.description %></p>
                       <div class="links-btn-group">                
                        <%= link_to "Edit", edit_noteskeep_path(@note),class: "btn-custom"%>
                    </div>
    	    </div>
        </div>
    </div> 
       
       
       
       <%elsif share.user_shared_to == current_user.id and share.share_type == "delete"  %>
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
            <div class="reviews">
                           <h1> <%= @note.title %></h1>
                           <p> <%= @note.description %></p>
                       <div class="links-btn-group">                
                       <%= link_to "Delete",noteskeep_path(@note),method: :delete, data: { confirm: "Are you sure?"},class: "btn-custom"%>
                    </div>
    	    </div>
        </div>
    </div> 
       <%elsif share.user_shared_to == current_user.id and share.share_type == "share"  %>
           <div class="row">
    	        <div class="col-md-6 col-md-offset-3">
                    <div class="reviews">
        <h4 align="center"> <b><%= @note.title %></b></h4>
        <p> <%= @note.description %></p>
         
        <%= form_tag(:controller => "noteskeeps", :action => "share_note") do %> 
        
            <%= hidden_field_tag "notekeep_id",@note.id %>
            <%= select_tag "user_shared_to", options_from_collection_for_select(@user, "id", "email"),prompt: "Select User" %>
            <%= hidden_field_tag "user_shared_by",current_user.id %>
            <%= select_tag "share_type", options_for_select([ "read", "update","delete","share" ]),prompt: "Select Type" %></br>
             <div class="links-btn-group"> 
            </br> <%= submit_tag "share" ,class: "btn-custom"%> 
             </div>
            <% end %>
        <%else%>
        <%flash[:alert] = "Notes is not shared with you !!!!!!!!!!!!!."%>
       <h3 align="center">  <%= link_to "BACK",noteskeeps_path ,class: "btn-custom2"%>  </h3>
       <%end%>
       
    <%end%>
 <%end%>
 
     	    </div>
        </div>
    </div> 